body {
        background: linear-gradient(to bottom right, #33ccff 0%, #ffffff 100%);
        background-repeat:no-repeat;
        margin: 10px auto;
        padding:20px 20px 20px 20px;
}

.status-table {
        table-layout: fixed;
        word-wrap: break-word;
}
