 <html>
	<title>Statuses</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <font class="h1">Halo, apa kabar?</font>
        <form action="save_status/" method="POST">
            {% csrf_token %}

            {{ status_form }}
            <button class="btn btn-primary" type="submit" id="submit-button"><font class="h3">Submit</font></button>
        </form>
        
        <font class="h1">Latest status:</font>
            <div class="container-fluid status-table">
                <div class="row">
                    <div class="col-6 text-center"><p>Status</p></div>
                    <div class="col-4 text-center"><p>Date</p></div>
                    <div class="col-2 text-center"><p>Deletion</p></div>
                </div>
                {% for item in status %}
                <div class="row">
                    <div class="col-6 .col-sm-3"><p>{{ item.status_text }}</p></div>
                    <div class="col-4 .col-sm-3 text-center"><p>{{ item.status_date }}</p></div>
                    <div class="col-2 text-center">
                        <form action="{% url 'clear_status' item.id%}" method="GET">
                            {% csrf_token %}
                            <input id="clear-button" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
    </body>     
</html>
